p {font-size: large;}
h1{margin: 0; align-content: first baseline; }
h2{font-size:x-large; text-align:center left;color: #ddc172;}
.tofu {color: brown;text-shadow: 2ex;
}
#punk { text-align: center;}
